/* A L L G E M E I N */


	/* SCHRIFTART IMPORT */
	
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import "http://fonts.googleapis.com/css?family=Droid+Serif";
	
	
		*	{
			/* löscht standartränder um jedes objekt */
			margin: 0;
			padding: 0;
			/* schriftart für jede schrift */
			font-family: 'Oswald', sans-serif;
		}

		#main {
			min-width: 500px;
			background-color: rgb(43,93,128);
		}
		
		.wrapper1 {
			width: 1000px;
			max-width: 90%;
			margin: 0 auto;
		}
		
		.wrapper2 {
			width: 400px;
			margin: 0 auto;
			padding: auto;
			padding-left: 5%;
		}


		
/* F I X E  K O P F L E I S T E */
	
	
		#head {
			width: 100%;
			height: 100px;			
			z-index:10;
			position: fixed;
			background-color:rgba(250, 250, 250, 0.5);
			/* für transparente farbe; die ersten 3 Werte geben die Farbe an */
			/* 0.8 -- gibt die "durchlässigkeit an" -- opacity */
		}

		#logo {
			height: 60px;
			width: 93px;
			float: left;
			margin-top: 20px;
			margin-left: 0px;
			margin-right: 0px;
			opacity: 0.5;
		}	
		
		.logo {
			width:100%;
			height: 100%;
			float: left;
		}
		
		#menu {
			float: right;
			padding-top: 50px;
		}
		
		#menu a {			
			padding-top:35px;
			padding-right: 10px;
			color: black;
			/* entfernt alle Dekorationen, wie Unterstrichen,Fett,Kursiv */
			text-decoration: none;
			font-weight: 375;
		}
		
		#menu a:hover {
		/* Für alle <a..> über die der cursor gehalten wird in #menu */
			border-bottom: solid 5px;
			border-color: white;
			font-weight: 60;
			color: grey;
			border-left: solid;
			cursor:pointer
		}


/* N A V I G A T I O N*/


	/* BANNER -- HINTERGRUND -- NAV */
		#banner {
			width: 100%;
			height: 500px;
			min-width: 400px;
			max-width: 1200px;
			z-index: 0;
			/* z-index bestimmt die Rangordnung bei der Darstellung */
			/* 0 - ganz im Hintergrunde, 0 < 1 < 2 < 3 < 4 < 5  */
			margin: 0 auto;
			background: url(pictures/jobs.png);
			background-size: cover;
		}

	/* NAV MENU */
	
		#content {
			height: 220px;
			width: 100%;
			text-align: center;
			z-index:0;
			padding-top: 270px;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		
		#content > span {
			background-color: rgba(255,255,255,0.2);
		}
	
		.kategorie {
			float: left;
			width: 120px;
			height: 70px;
			margin: 1%;
			background-color: rgba(234, 138, 27, 0.75);
			z-index:10;
			font-size: 30;
			padding-top: 20px;
			border-radius : 15px 35% 20px;

		}
		
		.kategorie:hover {
			background-color: green;
			color: red;
			background-color: rgba(166, 166, 166, 0.33);
			cursor:pointer
		}

		#kategorie > p {
			display: none;
		}
		

/*     Z W I S C H E N L E I S T E     */		
		.zwischenleiste {
			text-align: center;
		}
		
		.zwischenleiste a{
			text-decoration: none;
		}
		
		.zwischenleiste:hover {
			background-color: rgba(234, 138, 27, 0.75);
		}
		
/* H A U P T I N H A L T */

		#main-b {
			height: auto;
			width: 100%;
			max-width: 1000px;
			background-color: rgb(43,93,128);
			margin: 0 auto;
		}

		.wrapper-main {
			margin: 0 auto;
			width: 500px;
			background-color: rgba(255,255,255,0.2);
		}
			
		
	/*      S U C H A G E N T    */	
		
		
		/* E I N G A B E   T E X T F E L D E R   S T Y L E */
		
		.suchagent-container {
			width:65%;
			height:300px;
			margin:0 auto;
			font-family:'Droid Serif',serif;
		}

		.suchagent {
			width:70%;

			float:left;
			padding:10px 55px 25px;
			background-color:rgba(204,204,191,0.51);
			box-shadow:0 0 10px;
			border-radius:2px;
			font-size:17px;
			text-align:center
		}
		
		input[type=text] {
			margin-top:5px;
			margin-bottom:20px;
			width:96%;
			border-radius:5px;
			border:0;
			padding:5px 0
		}

		/* T E X T F E L D                 -  damit die Eingabe nicht am Rand klebt */
		#beruf-suche,#stadt-suche {
			padding-left:10px
		}

		/* S U B M I T B U T T O N    S T Y L E */
		input[type=submit] {
			width:30%;
			border:1px solid blue;
			background:rgb(234, 138, 27);
			color:black;
			padding:3px 0;
			border-radius:5px;
			margin-left:33%;
			cursor:pointer
		}
		input[type=submit]:hover {
			border:1px solid cyan;
			background: rgba(166, 166, 166, 0.33);
			color:#fff
		}

		
		
		
		
		
		
/* BREAKPOINT 1000 px */
			@media only screen and (min-width: 1000px) {
				.wrapper2 {
					width: 900px;
				}
				
				#content {
					padding-top: 360px;
				}
			}